API_PORT=8000
DB_URL=NA
NEXT_PUBLIC_APP_NAME=TejaDev Web
NODE_ENV=dev
AXIOM_TOKEN=
AXIOM_DATASET=
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_APP_NAME= teja dev template
FIREBASE_CONFIG_PATH=../../users-service-account.json
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
